div#home {
    display: flex;
    justify-content: center;

    #wrap {
        max-width: 380px;
        // background-color: red;

        font-family: 'Courier New', Courier, monospace;
        font-weight: bold;
        height: 100vh;
        width: 100%;
        
        .inputGroup {
            padding: 0 3px;
            
            input {
                font-family: 'Courier New', Courier, monospace;
                font-size: 25px;
                width: 100%;
                padding: 0 5px;
                border-radius: 5px;
                background-color: rebeccapurple;
                margin: 5px;
                color: white;
            }
        }
    }
}